.xxxs {
  margin: 4px;
}

.xxs {
  margin: 8px;
}

.xs {
  margin: 12px;
}

.s {
  margin: 16px;
}

.m {
  margin: 24px;
}

.l {
  margin: 32px;
}

.xl {
  margin: 40px;
}

.xxl {
  margin: 48px;
}

.xxxl {
  margin: 56px;
}
